<div class="container text-center">
    <h1 class="">GESTION DE USUARIOS</h1>
    <div class="d-flex justify-content-center mt-5 table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <td>ID</td>
                    <td class="d-flex">Nombre Usuario <button class="btn btn-secondary" (click)="cambiarFlecha()">{{ orden }}</button></td>
                    <td>Email</td>
                    <td>Contraseña</td>
                    <td>Nombre y apellido</td>
                    <td>Fecha creacion</td>
                    <td>Estado</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios | sortusername:orden | slice:pageActual:(pageActual+pageSize)">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombreUsuario }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.password | hidepassword }}</td>
                    <td>{{ usuario.nombre + ', ' + usuario.apellido | titlecase }}</td>
                    <td>{{ usuario.fechaCreacion | date:'longDate':'GMT-3':'es-AR' }}</td>
                    <td>{{ usuario.estado?'Activo':'Inactivo' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-outline-info mx-2" (click)="cambiarPage('prev')">Anterior</button>
    <button type="button" class="btn btn-outline-info mx-2" (click)="cambiarPage('next')">Siguiente</button>
</div>

