<div class="container">
    <app-header></app-header>
    <div class="container main row mt-5 ">
        <!-- Formulario de traduccion -->
        <form method="post">
            <div class="mb-3 row">
                <button type="button" class="btn btn-primary col-6 col-md-3" value="ingles"><img
                        src="assets/icon/english.ico" class="w-25 h-75 me-1">Ingles</button>
                <button type="button" class="btn btn-primary col-6 col-md-3" value="frances"><img
                        src="assets/icon/french.ico" class="w-25 h-75 me-1">Frances</button>
                <button type="button" class="btn btn-primary col-6 col-md-3" value="español"><img src="assets/icon/spain.ico"
                        class="w-25 h-75 me-1">Español</button>
                <button type="button" class="btn btn-primary col-6 col-md-3" value="italiano"><img
                        src="assets/icon/italian.ico" class="w-25 h-75 me-1">Italiano</button>
            </div>
            <div class="mb-3 row">
                <textarea class="form-control" id="text" rows="7" placeholder="Ingrese texto a traducir..."
                    maxlength="512" required></textarea>
            </div>
            <div class="mb-3 row">
                <button type="button" class="btn btn-primary col-6 col-md-3" value="ingles"><img
                        src="assets/icon/english.ico" class="w-25 h-75 me-1">Ingles</button>
                <button type="button" class="btn btn-primary col-6 col-md-3" value="frances"><img
                        src="assets/icon/french.ico" class="w-25 h-75 me-1">Frances</button>
                <button type="button" class="btn btn-primary col-6 col-md-3" value="español"><img src="assets/icon/spain.ico"
                        class="w-25 h-75 me-1">Español</button>
                <button type="button" class="btn btn-primary col-6 col-md-3" value="italiano"><img
                        src="assets/icon/italian.ico" class="w-25 h-75 me-1">Italiano</button>
            </div>
            <div class="mb-3 row">
                <button type="submit" class="btn btn-primary col-12">TRADUCIR</button>
            </div>
        </form>
        <!-- Resultado de traduccion -->
        <div style="width: 100%;">
            <div class="mb-3 row">
                <textarea class="form-control w-100" name="traduccion" id="traduccion" rows="7"
                    maxlength="512"></textarea>
            </div>
            <div class="mb-3 row">
                <img src="assets/icon/copy.svg" class="btn col-4 icono-traduccion">
                <img src="assets/icon/clean.svg" class="btn col-4 mx-auto icono-traduccion">
                <img src="assets/icon/exit.svg" class="btn col-4 icono-traduccion">
            </div>
        </div>
    </div>
</div>