<div class="container text-white">

    <div class="row row-1 mb-2 fst-italic">

        <div class="col col-12 text-center text-sm-start   bg-primary border">Header</div>

    </div>

    <div class="row row-md-10 row-9 my-2">

        <div class="col col-12 col-sm-6 col-md-4 text-start text-md-center   bg-danger border">1</div>
        <div class="col d-none d-sm-block col-sm-6 col-md-4 text-sm-end text-md-center    bg-danger border">2</div>
        <div class="col col-12 col-md-4 text-end text-sm-center   bg-danger border">3</div>

    </div>
    <div class="row row-2 row-md-1 mt-2 fst-italic">

        <div class="col col-12 col-md-6 text-center text-md-end   bg-dark border">Footer</div>
        <div class="col col-12 col-md-6 text-center text-md-start   bg-dark border">Footer</div>

    </div>
</div>