<!-- Barra Navegacion -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TP2</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/page1" target="_blank">Page 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/pagea">Portal de peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/pageb">Cotizacion de divisas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/pagec">Traductor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/paged">QR Generator</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
</nav>